<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codegen -->
      <category
            id="org.nasdanika"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.nasdanika.codegen.presentation.CodegenModelWizardID"
            name="%_UI_CodegenModelWizard_label"
            class="org.nasdanika.codegen.presentation.CodegenModelWizard"
            category="org.nasdanika"
            icon="icons/full/obj16/CodegenModelFile.gif">
         <description>%_UI_CodegenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      
      <!-- @generated codegen -->
      <editor
            id="org.nasdanika.codegen.presentation.CodegenEditorID"
            name="%_UI_CodegenEditor_label"
            icon="icons/full/obj16/CodegenModelFile.gif"
            extensions="codegen"
            default="true"
            class="org.nasdanika.codegen.presentation.CodegenEditor"
            contributorClass="org.nasdanika.emf.presentation.NasdanikaActionBarContributor">
      </editor>
      
      <editor
            id="org.nasdanika.codegen.presentation.CodegenSiriusEditorID"
            name="%_UI_CodegenSiriusEditor_label"
            icon="icons/full/obj16/CodegenModelFile.gif"
            extensions="codegen"
            default="false"
            class="org.nasdanika.emf.presentation.NasdanikaSiriusEditor"
            contributorClass="org.nasdanika.emf.presentation.NasdanikaActionBarContributor">
      </editor>
      
      <editor
            id="org.nasdanika.codegen.presentation.CodegenFormsEditorID"
            name="%_UI_CodegenFormsEditor_label"
            icon="icons/full/obj16/CodegenModelFile.gif"
            extensions="codegen"
            default="false"
            class="org.nasdanika.codegen.presentation.CodegenFormsEditor"
            contributorClass="org.nasdanika.emf.presentation.NasdanikaActionBarContributor">
      </editor>
   </extension>

</plugin>
